.redditBuddyTaglineEntry {
	background-color: #e3e3e3;
	color: #494949 !important;
	/*border: 1px solid gray;*/
	border-radius: 3px;
	margin-right: 5px;
	font-size: xx-small;
	padding: 1px 3px;
}

.collapsed .redditBuddyTaglineEntry, .link .redditBuddyTaglineEntry {
	/* This is due to the white space disappearing when collapsed */
	margin-left: 5px;
	margin-right: 0;
}

#taggingPopup {
	position: absolute;
	width: 300px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	overflow: visible;
	background-color: white;
}

#taggingPopup h3 {
	background-color: #e3e3e3;
	padding: 10px;
}

#taggingPopup form * {
	margin: 10px;
}

.tagButtons {
	text-align: center;
	margin: 0 !important;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.userTag {
	border-radius: 3px;
	padding: 0 2px;
	margin-right: 5px;
}